<%= form_with(model: semester, class: "card-body p-3 bg-white rounded") do |form| %>
  <% if semester.errors.any? %>
    <div class="card border-danger mb-3">
      <div class="card-header text-white bg-danger">
        <%= pluralize(semester.errors.count, "error") %> prohibited this semester from being saved:
      </div>
      <div class="card-body text-danger">
        <ul>
          <% semester.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :semester_name, class: 'form-label' %>
    <%= form.text_field :semester_name, class: 'form-control' %>
  </div>

  <div>
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
