<p style="color: green"><%= notice %></p>

<%#= render @semester %>
<%= link_to "Back to semesters", semesters_path %>

<h4 class="mb-3"></h4>

<div class="card">
  <div class="card-header fw-semibold fs-5 py-3 px-4 text-capitalize">
    Courses List
  </div>
  <div class="card-body">


    <% if @courses.length === 0 %>
      <div class="text-danger fw-bold text-center">No course found yet</div>
    <% else %>
      <% @courses.each_with_index do |course, index| %>
        <div class="d-flex align-items-center gap-3 mb-3">
          <div class="profile-pic profile-pic_card">
            <img src="https://source.unsplash.com/250x250?girl" alt="Profile Picture">
          </div>
          <div>
            <div class="text-capitalize"><%= course.course_name %></div>
            <%= link_to "view course", course_path(course) %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="card my-4">
  <div class="card-header fw-semibold fs-5 py-3 px-4 text-capitalize">
    Enrolled Users List
  </div>
  <div class="card-body">

    <% if @users.length === 0 %>
      <div class="text-danger fw-bold text-center">No user enrolled yet</div>
    <% else %>
      <% @users.each_with_index do |student, index| %>
        <div class="d-flex align-items-center gap-3 mb-3">
          <div class="profile-pic profile-pic_card">
            <img src="https://source.unsplash.com/250x250?girl" alt="Profile Picture">
          </div>
          <div>
            <div class="text-capitalize"><%= student.first_name + " " + student.last_name %></div>
            <a href="#">View result</a>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>



<!--<div>-->
<!--  <%#= link_to "Edit this semester", edit_semester_path(@semester) %> |-->


<%#= button_to "Destroy this semester", @semester, method: :delete %>
<!--</div>-->
