<%= link_to "Back to semesters", semesters_path %>

<h4 class="mb-3"></h4>

<div class="card">
  <div class="card-header fw-semibold fs-5 py-3 px-4 text-capitalize">
    Courses List
  </div>
  <div class="card-body">
    <%= render partial: "courses/course", collection: @courses, as: :course %>
  </div>
</div>

<div class="card my-4">
  <div class="card-header fw-semibold fs-5 py-3 px-4 text-capitalize">
    Students List
  </div>
  <div class="card-body">

    <% if @users.length === 0 %>
      <div class="text-danger fw-bold text-center">No students are available this semester.</div>
    <% else %>
      <% @users.each_with_index do |student, index| %>
        <div class="d-flex align-items-center gap-3 mb-3">
          <div class="profile-pic profile-pic_card">
<!--            <img src="https://source.unsplash.com/250x250?girl" alt="Profile Picture">-->
            <% if student.profile_picture.attached? %>
              <%= image_tag student.profile_picture %>
            <% else %>
              <!--            <img src="no-image.png" class="card-img-top" alt="...">-->
              <%= image_tag "no-image.png", class: "card-img-top" %>
            <% end %>
          </div>
          <div>
            <div class="text-capitalize"><%= student.first_name + " " + student.last_name %></div>
            <%= link_to "View result" ,students_list_path(student.id)%>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
