<%= form_tag(mark_students_path(@student), method: :post) do %>
  <% @student_enrolled_courses.each do |course| %>
    <div>
      <p><strong>Course:</strong> <%= course.course.course_name %> <%= course.course.semester.semester_name %></p>
      <%= label_tag "marks[#{course.id}]", "Marks:" %>
      <%= text_field_tag "marks[#{course.id}]", (course.marks.nil? ? "" : course.marks), required: true %>
    </div>
  <% end %>
  <%= submit_tag "Submit Marks" %>
<% end %>

