<%= form_tag(mark_students_path(@student), method: :post) do %>
  <% if @student_enrolled_courses.length === 0 %>
    Student are not enrolled in any courses for this semester.
  <% elsif @student_enrolled_courses.length > 0 and @student_enrolled_courses.length < 3 %>
    Student are not enrolled in at least three courses for this semester.
  <% else %>
    <% @student_enrolled_courses.each do |course| %>
      <div>
        <p><strong>Course:</strong> <%= course.course.course_name %> <%= course.course.semester.semester_name %></p>
        <%= label_tag "marks[#{course.id}]", "Marks:" %>
        <%= text_field_tag "marks[#{course.id}]", (course.marks.nil? ? "" : course.marks), required: true %>
      </div>
    <% end %>
    <%= submit_tag "Submit Marks" %>
  <% end %>
<% end %>

