

<div class="card mb-3 mt-3">
  <div class="card-header d-flex justify-content-between align-items-center py-3 px-4">
    <div class="d-flex align-items-center gap-3">
      <div class="profile-pic profile-pic_card">
        <% if @student.profile_picture.attached? %>
          <%= image_tag @student.profile_picture %>
        <% else %>
          <!--            <img src="no-image.png" class="card-img-top" alt="...">-->
          <%= image_tag "no-image.png", class: "card-img-top" %>
        <% end %>
      </div>
      <div>
        <div class="text-capitalize"><%= @student.first_name + " " + @student.last_name %></div>
        <small class="text-secondary"><%= @student.semester.semester_name %><br></small>
      </div>
    </div>
    <%= link_to "Provide mark", mark_students_path, class: "btn btn-sm btn-primary" %>
  </div>
  <div class="card-body">
    <div class="accordion mb-4" id="accordionExample">
      <%= render "students_list/mark/mark_accordion" %>
    </div>
  </div>

  <div class="card-footer text-muted text-center fw-bold">
    Your total CGPA:
    <% if total_result == 0 %>
      You have to pass every semester
    <% elsif total_result.present? && total_result.to_i > 0 %>
      <%= '%.2f' % total_result %>
    <% else %>
      Result pending
    <% end %>
  </div>
</div>

