<h2 class="accordion-header" id="heading<%= semester.id %>">
  <button class="accordion-button text-capitalize block <%= 'collapsed' unless @student.semester == semester %>" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= semester.id %>" aria-expanded="<%= 'true' if @student.semester == semester %>" aria-controls="collapse<%= semester.id %>">
    <div class=" d-flex justify-content-between w-100">
      <%= semester.semester_name %>
      <% if result[:cgpa] == 0%>
        <span class="mx-3 badge bg-danger">Failed</span>
      <% elsif result[:cgpa].to_i > 1 %>
        <span class="mx-3 badge bg-success"><%= "%.2f" % result[:cgpa] %></span>
      <% elsif result[:cgpa] == nil %>
        <span class="mx-3 badge bg-primary">pending</span>
      <% end %>
    </div>
  </button>
</h2>