<div class="card mb-3">
  <div class="card-header">
    <h3>Your Result</h3>
  </div>
  <div class="card-body">
    <div class="accordion mb-4" id="accordionExample">
      <% @semester_results.each do |semester, result| %>
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading<%= semester.id %>">
            <button class="accordion-button text-capitalize block <%= 'collapsed' unless @student.semester == semester %>" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= semester.id %>" aria-expanded="<%= 'true' if @student.semester == semester %>" aria-controls="collapse<%= semester.id %>">
              <div class=" d-flex justify-content-between w-100">
                <%= semester.semester_name %>
                <% if result[:cgpa] == 0 %>
                  <span class="mx-3 badge bg-danger">Failed</span>
                <% elsif result[:cgpa] == "" %>
                  <span class="mx-3 badge bg-primary">pending</span>
                <% else %>
                  <span class="mx-3 badge bg-success"><%= "%.2f"  % result[:cgpa] %></span>
                <% end %>
              </div>
            </button>
          </h2>
          <div id="collapse<%= semester.id %>" class="accordion-collapse collapse <%= 'show' if @student.semester == semester %>" aria-labelledby="heading<%= semester.id %>" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <% if result[:enrolled_courses].any? %>
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Course List</th>
                    <th scope="col">Credit</th>
                    <th scope="col">Mark</th>
                    <th scope="col">Grade</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% result[:enrolled_courses].each_with_index do |enrolled_course, index| %>
                    <% grade = calculate_grade(enrolled_course.marks) %>
                    <tr>
                      <th scope="row"><%= index + 1 %></th>
                      <td><%= enrolled_course.course.course_name %></td>
                      <td><%= enrolled_course.course.credit %></td>
                      <td>
                        <% if enrolled_course.marks.nil? %>
                          <span class="text-muted">Mark pending</span>
                        <% else %>
                          <%= enrolled_course.marks %>
                        <% end %>
                      </td>
                      <td>
                        <% if enrolled_course.marks.nil? %>
                          <span class="text-muted">Mark pending</span>
                        <% elsif grade == 0 %>
                          <span class="text-danger">Failed</span>
                        <% else %>
                          <%= grade %>
                          (<%= grade_alpha(grade) %>)
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                  <tr>
                    <td colspan="2" class="text-end">Total Mark</td>
                    <td colspan="2" class="text-center">.....</td>
                    <td class="">CGPA:
                      <% if result[:cgpa] == "" %>
                        Pending result
                      <% else %>
                        <%= "%.2f" % result[:cgpa] %> ( <%= grade_alpha(result[:cgpa]) %> )
                      <% end %></td>
                  </tr>
                  </tbody>
                </table>
              <% else %>
                <p class="text-center text-danger py-3">You are not enrolled in any courses for this semester.</p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>

  <div class="card-footer text-muted text-end">
    Your total cgpa: 3.45
  </div>
</div>