<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <%= render "shared/users_menu" %>
        <% elsif admin_signed_in? %>
          <%= render "shared/admins_menu" %>
        <% end %>
      </ul>
      <div class="d-flex align-items-center gap-2">

          <% if user_signed_in? %>
            <h4 class="text-white m-0">User</h4>
          <% elsif admin_signed_in? %>
            <h4 class="text-white m-0">Admin</h4>
          <% end %>

        <% if user_signed_in? or admin_signed_in? %>
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 profile-menu">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="profile-pic">
                  <img src="https://source.unsplash.com/250x250?girl" alt="Profile Picture">
                </div>
                <!-- You can also use icon as follows: -->
                <!--  <i class="fas fa-user"></i> -->
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#"><i class="fas fa-sliders-h fa-fw"></i> Account</a></li>
                <li><a class="dropdown-item" href="#"><i class="fas fa-cog fa-fw"></i> Settings</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li class="text-primary">
                  <% if user_signed_in? %>
                    <%= link_to destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "dropdown-item" do %>
                      <i class="fas fa-sign-out-alt fa-fw"></i>
                      user sign out
                    <% end %>
                  <% elsif admin_signed_in? %>
                    <%= link_to destroy_admin_session_path, method: :delete, data: { turbo_method: :delete }, class: "dropdown-item" do %>
                      <i class="fas fa-sign-out-alt fa-fw"></i>
                      admin sign out
                    <% end %>
                  <% end %>
                </li>
              </ul>
            </li>
          </ul>
        <% end %>

        <% if !user_signed_in? and !admin_signed_in? %>

          <%= link_to user_session_path do %>
            <button type="button" class="btn btn-light">User Sign In</button>
          <% end %>
          <%= link_to admin_session_path do %>
            <button type="button" class="btn btn-light">Admin Sign In</button>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</nav>

<script>

</script>