<article class="postcard light blue">
  <a class="postcard__img_link" href="#">
    <!--          <img class="postcard__img" src="https://picsum.photos/1000/1000" alt="Image Title"/>-->
    <% if enrolled_course.course.course_image.attached? %>
      <%= image_tag enrolled_course.course.course_image, class: "postcard__img" %>
    <% else %>
      <!--            <img src="no-image.png" class="card-img-top" alt="...">-->
      <%= image_tag "no-image.png", class: "postcard__img" %>
    <% end %>
  </a>
  <div class="postcard__text t-dark">
    <h1 class="postcard__title green text-capitalize"><%= enrolled_course.course.course_name %></h1>
    <div class="postcard__subtitle small text-capitalize fw-semibold text-secondary">
      <time datetime="2020-05-25 12:00:00">
        <i class="fa-solid fa-graduation-cap"></i> <%= enrolled_course.semester.semester_name %>
        <i class="fas fa-calendar-alt mx-2"></i><%= enrolled_course.course.created_at.strftime("%Y-%m-%d %H:%M") %>
      </time>
    </div>
    <div class="postcard__bar"></div>
    <div class="postcard__preview-txt text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat
      asperiores inventore beatae accusamus odit minima enim.
    </div>
    <div class="postcard__tagbox">
      <%= button_to "Cancel this enrolled course", enrolled_course, method: :delete, class: "btn btn-danger btn-sm",
                    data: { confirm: 'Are you sure you want to cancel this enrolled course?' } %>
    </div>
  </div>
</article>

<!--</div>-->
